    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3 figure">Portfolio 3
        <small>Subheading</small>
      </h1>
      <div class="float-right mt-4" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product Views
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                    <a class="dropdown-item" href="#!/view1">1 Column Portfolio</a>
                    <a class="dropdown-item" href="#!/view2">2 Column Portfolio</a>
                    <a class="dropdown-item active" href="#!/products">3 Column Portfolio</a>
                    <a class="dropdown-item" href="#!/view4">4 Column Portfolio</a>
                  </div>
                </li>
          </ul>
      </div>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Portfolio 3</li>
      </ol>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="port in portfolioData">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" ng-src="{{port.portfolio_url}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{port.portfolio_title}}</a>
              </h4>
              <p class="card-text more">{{port.portfolio_content}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->
